<!-- <div class="footer">

</div> -->

<!-- <footer class="footer">
  <div class="container">
    <p></p>
  </div>
</footer>
 -->

<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container text-center">
    <br>
    <div class="row">
      <div class="col-lg-12">
        <div class="col-md-2 col-md-offset-2">
          <h4 class="h4-style">Get to know us</h4>
    			<nav>
            <ul class="li-col">
              <!-- <li><strong>Get to know us</strong></li> -->
              <li><a href="#">About</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Media / Press</a></li>
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Blog</a></li>
            </ul>
    			</nav>
        </div>
        <div class="col-md-2">
          <h4 class="h4-style">Help</h4>
          <nav>
            <ul class="li-col">
              <!-- <li><strong>Help</strong></li> -->
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Teachers & Schools</a></li>
              <li><a href="#">Parents</a></li>
              <li><a href="#">Students</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms of Use</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-md-2">
          <h4 class="h4-style">Organizations</h4>
          <nav>
            <ul class="li-col">
              <!-- <li><strong>Organizations</strong></li> -->
              <li><a href="#">Partner with Us</a></li>
              <li><a href="#">Add Experiences</a></li>
              <li><a href="#">Guidelines</a></li>
              <li><a href="#">Learn More</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-md-2">
          <h4 class="h4-style">Volunteer with Us</h4>
          <nav>
            <ul class="li-col">
              <!-- <li><strong>Volunteer with Us</strong></li> -->
              <li><a href="#">Web Development</a></li>
              <li><a href="#">Design</a></li>
              <li><a href="#">Writing and Research</a></li>
              <li><a href="#">Human Resources</a></li>
              <li><a href="#">Social Media</a></li>
              <li><a href="#">Community Outreach</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <hr>
      <div class="row">
          <div class="col-lg-12">
              <div class="col-md-3 col-md-offset-2">
          			<nav>
                  <ul class="li-col">
                    <li><img src="<%= asset_path( 'tryit.png' ) %>", class="tryit-lo" /></li>
                    <li class="margin-li">© 2016</li>
                  </ul>
          			</nav>
              </div>
              <div class="col-md-5 margin-di">
          			<nav>
                  <ul class="li-col">
                    <li>Powered by the <strong id="strong-style">enScholar Educational Foundation </strong> a federally <br> registered non-profit changing the way teens find their career paths.</li>
                  </ul>
          			</nav>
              </div>
          </div>
      </div>
  </div>
</div>
