
<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container text-center">
    <br>
    <div class="row desktop">
      <div class="col-lg-12">
        <div class="col-md-2 col-md-offset-2">
          <h4 class="h4-style">Get to know us</h4>
    			<nav>
            <ul class="li-col">
              <li><a href="https://enscholar.zendesk.com/hc/en-us/articles/215202567" target="_blank">About</a></li>
              <li><a href="https://enscholar.zendesk.com/hc/en-us/articles/214520118" target="_blank">Contact Us</a></li>
              <li><a href="https://enscholar.zendesk.com/hc/en-us/articles/215202607" target="_blank">Media / Press</a></li>
              <li><a href="https://facebook.com/enscholar" target="_blank">Facebook</a></li>
              <li><a href="https://twitter.com/enscholar" target="_blank">Twitter</a></li>
              <li><a href="http://www.blog.enscholar.com" target="_blank">Blog</a></li>
            </ul>
    			</nav>
        </div>
        <div class="col-md-2">
          <h4 class="h4-style">Help</h4>
          <nav>
            <ul class="li-col">
              <li><a href="https://enscholar.zendesk.com/hc/en-us" target="_blank">FAQ</a></li>
              <li><a href="https://enscholar.zendesk.com/hc/en-us/categories/200308527" target="_blank">Teachers & Schools</a></li>
              <li><a href="https://enscholar.zendesk.com/hc/en-us/categories/200308527" target="_blank">Parents</a></li>
              <li><a href="https://enscholar.zendesk.com/hc/en-us/categories/200308527" target="_blank">Students</a></li>
              <li><a href="https://enscholar.zendesk.com/hc/en-us/articles/213129397" target="_blank">Privacy Policy</a></li>
              <li><a href="https://enscholar.zendesk.com/hc/en-us/articles/211495958" target="_blank">Terms of Use</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-md-2">
          <h4 class="h4-style">Organizations</h4>
          <nav>
            <ul class="li-col">
              <li><a href="https://enscholar.zendesk.com/hc/en-us/sections/201686358" target="_blank">Partner with Us</a></li>
              <li><a href="https://enscholar.zendesk.com/hc/en-us/articles/214520158" target="_blank">Add Experiences</a></li>
              <li><a href="https://enscholar.zendesk.com/hc/en-us/sections/202730688-How-to-Create-Experiences-for-TryIt-" target="_blank">Guidelines</a></li>
              <li><a href="https://enscholar.zendesk.com/hc/en-us/sections/201686358" target="_blank">Learn More</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-md-2">
          <h4 class="h4-style">Volunteer with Us</h4>
          <nav>
            <ul class="li-col">
              <li><a href="https://enscholar.zendesk.com/hc/en-us/articles/206907697" target="_blank">Web Development</a></li>
              <li><a href="https://enscholar.zendesk.com/hc/en-us/articles/206204468" target="_blank">Design</a></li>
              <li><a href="https://enscholar.zendesk.com/hc/en-us/articles/215204857" target="_blank">Writing and Research</a></li>
              <li><a href="https://enscholar.zendesk.com/hc/en-us/articles/206204378" target="_blank">Human Resources</a></li>
              <li><a href="https://enscholar.zendesk.com/hc/en-us/articles/206907587" target="_blank">Social Media</a></li>
              <li><a href="https://enscholar.zendesk.com/hc/en-us/articles/206204368" target="_blank">Community Outreach</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <!-- Mobile divs -->
    <div class="row mobile">
      <div class="inner">
        <div class="col-xs-6 div-left" id="title_message">
          <nav>
            <ul class="li-col">
              <li><a href="https://enscholar.zendesk.com/hc/en-us/articles/215202567" target="_blank">About</a></li>
              <li><a href="https://enscholar.zendesk.com/hc/en-us/articles/214520118" target="_blank">Contact</a></li>
              <li><a href="https://enscholar.zendesk.com/hc/en-us/articles/211495958" target="_blank">Terms of Use</a></li>
              <li><a href="https://enscholar.zendesk.com/hc/en-us/articles/213129397" target="_blank">Privacy Policy</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-xs-6 div-right" id="title_message">
          <nav>
            <ul class="li-col">
              <li><a href="#" target="_blank">Volunteer</a></li>
              <li><a href="https://enscholar.zendesk.com/hc/en-us/categories/200308527" target="_blank">Students</a></li>
              <li><a href="https://enscholar.zendesk.com/hc/en-us/categories/200308527" target="_blank">Teachers</a></li>
              <li><a href="#" target="_blank">Organizations</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-xs-12">
        <nav>
          <ul class="li-col">
            <li id="center">Powered by the <br><strong id="strong-style">enScholar Educational Foundation </strong></li>
          </ul>
        </nav>
      </div>
    </div>
    <!--End Mobile divs -->

    <hr>
      <div class="row desktop">
          <div class="col-lg-12">
              <div class="col-md-3 col-md-offset-2">
          			<nav>
                  <ul class="li-col">
                    <li><img src="<%= asset_path( 'tryit.png' ) %>", class="tryit-lo" /></li>
                    <li class="margin-li">© 2016</li>
                  </ul>
          			</nav>
              </div>
              <div class="col-md-5 margin-di">
          			<nav>
                  <ul class="li-col">
                    <li>Powered by the <strong id="strong-style">enScholar Educational Foundation, </strong> a federally <br> registered non-profit changing the way teens find their career paths.</li>
                  </ul>
          			</nav>
              </div>
          </div>
      </div>
      <div class="row mobile">
          <div class="col-lg-12">
          			<nav>
                  <ul class="li-col">
                    <li><img src="<%= asset_path( 'tryit.png' ) %>", class="tryit-lo" /></li>
                    <li class="margin-li">© 2016</li>
                  </ul>
          			</nav>
          </div>
      </div>
  </div>
</div>
