
<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container text-center">
    <br>
    <div class="row desktop">
      <div class="col-lg-12">
        <div class="col-md-2 col-md-offset-2">
          <h4 class="h4-style">Get to know us</h4>
    			<nav>
            <ul class="li-col">
              <li><a href="https://enscholar.zendesk.com/hc/en-us/articles/215202567">About</a></li>
              <li><a href="https://enscholar.zendesk.com/hc/en-us/articles/214520118">Contact Us</a></li>
              <li><a href="https://enscholar.zendesk.com/hc/en-us/articles/215202607">Media / Press</a></li>
              <li><a href="https://facebook.com/enscholar">Facebook</a></li>
              <li><a href="https://twitter.com/enscholar">Twitter</a></li>
              <li><a href="http://www.blog.enscholar.com">Blog</a></li>
            </ul>
    			</nav>
        </div>
        <div class="col-md-2">
          <h4 class="h4-style">Help</h4>
          <nav>
            <ul class="li-col">
              <li><a href="https://enscholar.zendesk.com/hc/en-us">FAQ</a></li>
              <li><a href="https://enscholar.zendesk.com/hc/en-us/categories/200308527">Teachers & Schools</a></li>
              <li><a href="https://enscholar.zendesk.com/hc/en-us/categories/200308527">Parents</a></li>
              <li><a href="https://enscholar.zendesk.com/hc/en-us/categories/200308527">Students</a></li>
              <li><a href="https://enscholar.zendesk.com/hc/en-us/articles/213129397">Privacy Policy</a></li>
              <li><a href="https://enscholar.zendesk.com/hc/en-us/articles/211495958">Terms of Use</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-md-2">
          <h4 class="h4-style">Organizations</h4>
          <nav>
            <ul class="li-col">
              <li><a href="https://enscholar.zendesk.com/hc/en-us/sections/201686358">Partner with Us</a></li>
              <li><a href="https://enscholar.zendesk.com/hc/en-us/articles/214520158">Add Experiences</a></li>
              <li><a href="https://enscholar.zendesk.com/hc/en-us/sections/202730688-How-to-Create-Experiences-for-TryIt-">Guidelines</a></li>
              <li><a href="https://enscholar.zendesk.com/hc/en-us/sections/201686358">Learn More</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-md-2">
          <h4 class="h4-style">Volunteer with Us</h4>
          <nav>
            <ul class="li-col">
              <li><a href="https://enscholar.zendesk.com/hc/en-us/articles/206907697">Web Development</a></li>
              <li><a href="https://enscholar.zendesk.com/hc/en-us/articles/206204468">Design</a></li>
              <li><a href="https://enscholar.zendesk.com/hc/en-us/articles/215204857">Writing and Research</a></li>
              <li><a href="https://enscholar.zendesk.com/hc/en-us/articles/206204378">Human Resources</a></li>
              <li><a href="https://enscholar.zendesk.com/hc/en-us/articles/206907587">Social Media</a></li>
              <li><a href="https://enscholar.zendesk.com/hc/en-us/articles/206204368">Community Outreach</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <!-- Mobile divs -->
    <div class="row mobile">
      <div class="inner">
        <div class="col-xs-6 div-left" id="title_message">
          <nav>
            <ul class="li-col">
              <li><a href="https://enscholar.zendesk.com/hc/en-us/articles/215202567">About</a></li>
              <li><a href="https://enscholar.zendesk.com/hc/en-us/articles/214520118">Contact</a></li>
              <li><a href="https://enscholar.zendesk.com/hc/en-us/articles/211495958">Terms of Use</a></li>
              <li><a href="https://enscholar.zendesk.com/hc/en-us/articles/213129397">Privacy Policy</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-xs-6 div-right" id="title_message">
          <nav>
            <ul class="li-col">
              <li><a href="#">Volunteer</a></li>
              <li><a href="https://enscholar.zendesk.com/hc/en-us/categories/200308527">Students</a></li>
              <li><a href="https://enscholar.zendesk.com/hc/en-us/categories/200308527">Teachers</a></li>
              <li><a href="#">Organizations</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-xs-12">
        <nav>
          <ul class="li-col">
            <li id="center">Powered by the <br><strong id="strong-style">enScholar Educational Foundation </strong></li>
          </ul>
        </nav>
      </div>
    </div>
    <!--End Mobile divs -->

    <hr>
      <div class="row desktop">
          <div class="col-lg-12">
              <div class="col-md-3 col-md-offset-2">
          			<nav>
                  <ul class="li-col">
                    <li><img src="<%= asset_path( 'tryit.png' ) %>", class="tryit-lo" /></li>
                    <li class="margin-li">© 2016</li>
                  </ul>
          			</nav>
              </div>
              <div class="col-md-5 margin-di">
          			<nav>
                  <ul class="li-col">
                    <li>Powered by the <strong id="strong-style">enScholar Educational Foundation, </strong> a federally <br> registered non-profit changing the way teens find their career paths.</li>
                  </ul>
          			</nav>
              </div>
          </div>
      </div>
      <div class="row mobile">
          <div class="col-lg-12">
          			<nav>
                  <ul class="li-col">
                    <li><img src="<%= asset_path( 'tryit.png' ) %>", class="tryit-lo" /></li>
                    <li class="margin-li">© 2016</li>
                  </ul>
          			</nav>
          </div>
      </div>
  </div>
</div>
