

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= link_to image_tag("try_it.png", class: "img-tryit"), "https://gotryit.org", :target => "_blank" %>
    </div>
    <div class="col-xs-12 fonts-cus">
      <h4 id="h4-14">Never Miss a Great Opportunity Again</h4>
      <h5 id="h5-12">The best experiences, stright to your inbox</h5>
    </div>
  </div>
  <div class="row">
    <div class="wrapper">
      <div class="col-xs-12">
        <form action="//enscholar.us11.list-manage.com/subscribe/post?u=00d8638cddcd00a5b6ddd7231&amp;id=af7ecdd7ab" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div class="col-xs-2 col-xs-offset-3 left-p">
            <div class="mc-field-group">
              <input type="text" value="" name="NAME" class="required" placeholder="Name" id="mce-NAME">
            </div>
          </div>
          <div class="col-xs-2 mid-p">
            <div class="mc-field-group">
              <input type="email" value="" name="EMAIL" class="required email" placeholder="Email" id="mce-EMAIL">
            </div>
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>
          <div class="col-lg-2 right-p">
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_00d8638cddcd00a5b6ddd7231_af7ecdd7ab" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="I'm In!  >>" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </div>
        </form>
        <!-- Begin MailChimp Signup Form -->
      </div>
      <div class="col-xs-12">
        <h5 id="h5-spam">(Don't worry, we never spam)</h5>
      </div>
      <div class="col-xs-12">
        <%= image_tag("bitmap.png", class: "image-responsive faces-img") %>
      </div>
    </div>
  </div>
</div>
<div class="row">

  <div class="navbar navbar-default navbar-bottom">
    <div class="container text-center">
      <br>
      <div class="row desktop">
        <div class="col-lg-12">
          <div class="col-md-6">
            <h4 class="h4-style2">What is this?</h4>
              <p class="p-footer">
                Each week we let you know about which <br>experiences are most popular, so you'll never <br>miss anything good.
              </p>
              <h4 class="h4-style2">Is it free?</h4>
              <p class="p-footer">
                Yes, We know you're a student - you've got more <br>important things to pay for.
              </p>
          </div>
          <div class="col-md-6">
            <h4 class="h4-style2">What do I get?</h4>
              <p class="p-footer">
                We take care of you with:
              </p>
              <nav>
                <ul class="list">
                  <li>New experiences, before they hit out site</li>
                  <li>A summary of the week's top experiences</li>
                  <li>Career tips and tools</li>
                  <li>Scholarship and college application advice</li>
                </ul>
              </nav>
          </div>
        </div>
      </div>

      <!-- Mobile divs -->
      <div class="row mobile">
        <div class="inner">
          <div class="col-xs-6 div-left" id="title_message">
            <nav>
              <ul class="li-col">
                <li><a href="https://enscholar.zendesk.com/hc/en-us/articles/215202567" target="_blank">About</a></li>
                <li><a href="https://enscholar.zendesk.com/hc/en-us/articles/214520118" target="_blank">Contact</a></li>
                <li><a href="https://enscholar.zendesk.com/hc/en-us/articles/211495958" target="_blank">Terms of Use</a></li>
                <li><a href="https://enscholar.zendesk.com/hc/en-us/articles/213129397" target="_blank">Privacy Policy</a></li>
              </ul>
            </nav>
          </div>
          <div class="col-xs-6 div-right" id="title_message">
            <nav>
              <ul class="li-col">
                <li><a href="#" target="_blank">Volunteer</a></li>
                <li><a href="https://enscholar.zendesk.com/hc/en-us/categories/200308527" target="_blank">Students</a></li>
                <li><a href="https://enscholar.zendesk.com/hc/en-us/categories/200308527" target="_blank">Teachers</a></li>
                <li><a href="#" target="_blank">Organizations</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-xs-12">
          <nav>
            <ul class="li-col">
              <li id="center">Powered by the <br><strong id="strong-style">enScholar Educational Foundation </strong></li>
            </ul>
          </nav>
        </div>
      </div>
      <!--End Mobile divs -->

      <hr id="hr2">
      <div class="row desktop">
        <div class="col-lg-12">
          <p id="p-last">
            If you're smart enough to read the fine print, you probably <br>
            deserve some ultra-secret information. <a href="#">Follow this link</a>, and <br>
            you'll be one step closer to joining our invite-only <br>
            community. If you get selected, you will be able to upvote, <br>
            comment, create collections and suggest experiences that <br>
            could be featured on our homepage.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='NAME';ftypes[1]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
